{% import 'macros/base.j2' as macros -%}{% import 'macros/site.j2' as site -%}

### Inlined Dockerfile
<hr class="section-rule lvl-3">

{{site.embed_twin('demos/inlined-dockerfile.mk', 'demos/cmk/inlined-dockerfile.cmk', github=github, default='left')}}