{% import 'macros/base.j2' as macros -%}{% import 'macros/site.j2' as site -%}

Using `site.parse_module_help`:

{{site.parse_module_help('compose.mk', 'flux')}}

---------------------

Using `site.api_link_many`:

{{site.api_link_many(['io.awk','io.shell'], mkdocs)}}

---------------------

Using `site.api_link_many` with args:

{{site.api_link_many(['io.awk'], mkdocs)}}

{# 
<hr style="width:95%;border-bottom:1px dashed black;">

Missing target, Using `site.parse_target_help('compose.mk', 'doesnt.exist',..`:

{{site.parse_target_help('compose.mk', 'doesnt.exist', github=github)}}

<hr style="width:95%;border-bottom:1px dashed black;">

Parametric target, Using `site.parse_target_help('compose.mk', 'flux.echo/%',..`:

{{site.parse_target_help('compose.mk', 'flux.echo/%', github=github)}}

<hr style="width:95%;border-bottom:1px dashed black;">

Nonparametric target, Using `site.parse_target_help('compose.mk', 'flux.ok',..`:

{{site.parse_target_help('compose.mk', 'flux.ok', github=github)}}

<hr style="width:95%;border-bottom:1px dashed black;">

Using `site.parse_help('compose.mk', 'Dockerfile',..`:

{{site.parse_help('compose.mk', 'Dockerfile', github=github)}}

<hr style="width:95%;border-bottom:1px dashed black;">

Using `site.parse_module_help('compose.mk', 'Dockerfile',..`:

{{site.parse_module_help('compose.mk', 'Dockerfile', github=github)}}
<br/>
#}
