{% import 'macros.j2' as macros -%}

This is a growing collection of hands-on demonstrations of what compose.mk can do.

{% include "demos/platform.md.j2" %}

---------------------------------------------------------

{% include "demos/mad-science.md.j2" %}
