{% import 'macros/base.j2' as macros -%}{% import 'macros/site.j2' as site -%}

#### API: flux
<hr class="section-rule lvl-4">

{{site.parse_module_help('compose.mk', 'flux')}}

See especially the [Platform Setup Example]({{_}}/demos/platform) for a more complete walk-through of motivation, starting from an example use-case.

{{site.parse_help('compose.mk', 'flux', github)}}
