{% import 'macros/base.j2' as macros -%}{% import 'macros/site.j2' as site -%}

#### API: stage
<hr class="section-rule lvl-4">

{{site.parse_module_help('compose.mk', 'stage')}}

{{site.parse_help('compose.mk', 'stage', github)}}
