{% import 'macros.j2' as macros -%}

### Assertion Support
<hr style="width:100%;border-bottom:3px solid black;">

Without real typing or any kind of static-analysis, `make` can benefit from a few ways to write more defensive code.  Nothing here is very fancy, but it might save you from reimplementing stuff.  

Unlike most of the standard library, this section is heavy on macros and light on targets, because re-using it outside of `make` isn't necessarily more readable than the shell equivalent would be.

#### Environment Assertions
<hr style="width:95%;border-bottom:1px dashed black;">

Documentation coming soon.

#### Filesystem Assertions
<hr style="width:95%;border-bottom:1px dashed black;">

Documentation coming soon.

#### Generic Assertions
<hr style="width:95%;border-bottom:1px dashed black;">

Documentation coming soon.
