{% import 'macros/site.j2' as site -%}
# Configuration

#### General Environment Variables
<hr style="width:100%;border-bottom:3px solid black;">

{{site.block_docs('Environment')}}

```ini
{{bash("./compose.mk io.env/CMK")}}
```

#### TUI Environment Variables
<hr style="width:100%;border-bottom:3px solid black;">

{{site.block_docs('TUI Environment')}}

```ini
{{bash("./compose.mk io.env/TUI")}}
```

#### "Where is compose.mk?" (the self-path family)
<hr style="width:100%;border-bottom:3px solid black;">

{{site.block_docs('SelfPath')}}
