{% import 'macros/base.j2' as macros -%}{% import 'macros/site.j2' as site -%}

### Temporary Files / Dirs
<hr class="section-rule lvl-3">

Temporary files and temporary directories are handled by a few helpers in the `io.mktemp` namespace.  The tour below shows the file, directory, and custom-variable forms (toggle the tabs for the plain `Makefile` or the [cmk-lang]({{_}}/cmk/compiler) twin):

{{site.embed_mirror('demos/io.mktemp.mk', 'demos/cmk/io.mktemp.cmk', github=github, default='left')}}
