{% import 'macros/base.j2' as macros -%}{% import 'macros/site.j2' as site -%}

### Temporary Files & Directories
<hr style="width:100%;border-bottom:3px solid black;"> 

Temporary files and temporary directories are handled by a few helpers in the `io.mktemp` namespace.  See the tests below for a few examples.

{{site.embed_demo('demos/io.mktemp.mk', 
    bottom_right='',
    github=github)}}
