{% import 'macros/base.j2' as macros -%}{% import 'macros/site.j2' as site -%}

### Logging Facilities
<hr style="width:100%;border-bottom:3px solid black;">

One goal for `compose.mk` is to enable program output that is clean, curated, and human-friendly on stderr, and machine-friendly on stdout.  There are a few features available in support of this.  In general `compose.mk` prefers make-targets over make-functions and macros, because targets are more reusable.[^2]  Logging is a special case though, and might use all 3.

#### Logging Basics
<hr style="width:95%;border-bottom:1px dashed black;">

1. **Logging always goes to stderr so that targets remain pipe-safe**, including the `log.json` output.
2. **Log-messages have a prefix which is based on the call-depth**, which can help visually parse complex traces.

See the `compose.mk` source for other information about formatting colors and glyphs.  Tools for working with JSON are also discussed in more detail in the section on [Structured IO](#structured-io-basics).

#### Log Functions 
<hr style="width:95%;border-bottom:1px dashed black;">

Lets look at the **`log.*` functions** that are suitable for use from your project Makefile.  

The following examples demonstrate basic logging, logging with formatting, and trace-logging.

{{site.embed_demo('demos/logging.mk', github=github)}}

#### File and Stream Previews
<hr style="width:95%;border-bottom:1px dashed black;">

Whether you're working on build processes, data-pipelines, or infrastructure deployments, it's convenient to have the ability to "preview" things like files, streams, or intermediate representations.  The previous section covers some simple cases.  

The [docs for compose.mk's built-in tool wrappers]({{mkdocs.site_relative_url}}/tool-overview/#other-wrappers) are also related here, so here's a look at some of the tests that are exercising that code:

{{site.embed_demo(
    'tests/tool-wrappers.sh', 
    github=github, type="bash", 
    class="language-makefile language-bash")}}

#### Visual Dividers
<hr style="width:95%;border-bottom:1px dashed black;">

!!! info "Note"
    If you want to make extensive use of these kinds of banners, you can organize around [stages]({{mkdocs.site_relative_url}}/stages) to get them implicitly.  

**Visually separating stages with some kind of output divider** is something that is nice to have for otherwise messy output.  Here's an example of several different ways of using `io.print.banner` to get labeled or timestamped dividers that are shown between clean/build/test stages.  

{{site.embed_demo('demos/section-dividers.mk', github=github)}}

In the `build` task above, you can see one way to call `io.print.banner` explicitly, which uses `${make}` as shorthand for "*the right way to call `make` recursively*".  As an equivalent, you can always use an invocation like `./compose.mk io.print.banner` instead, and this works from anywhere.

{{macros.img_link("demo-io.gif", mkdocs, "90%")}}

##### Use Gum for Banners 
---------------------------------------------

Even though {{site.api_link('io.print.banner',mkdocs,arg='label')}} detects terminal width, it isn't fancy otherwise.  A related target is {{site.api_link('io.draw.banner',mkdocs,arg='label')}}, which prints dividers with [charmbracelet/gum](https://github.com/charmbracelet/gum).

{{macros.img_link("demo-gum.gif", mkdocs, "90%")}}


##### Banners with Figlet
-----------------------------

You can also use a (dockerized) version of the `figlet` tool, like this:

```bash {.cli_example .language-bash}

# or, ./compose.mk io.figlet/banner
$ label=banner ./compose.mk io.figlet
```
```markdown {.cli_output}
 ██                                                
░██                                                
░██       ██████   ███████  ███████   █████  ██████
░██████  ░░░░░░██ ░░██░░░██░░██░░░██ ██░░░██░░██░░█
░██░░░██  ███████  ░██  ░██ ░██  ░██░███████ ░██ ░ 
░██  ░██ ██░░░░██  ░██  ░██ ░██  ░██░██░░░░  ░██   
░██████ ░░████████ ███  ░██ ███  ░██░░██████░███   
 ░░░░░    ░░░░░░░░ ░░░   ░░ ░░░   ░░  ░░░░░░ ░░░    
```

To add color, you can use a context manager and any of the colors that `compose.mk` natively understands.

```bash {.cli_example} 
./compose.mk io.with.color/red,io.figlet/banner
```

For other TUI-components like this that fall short of a full-blown interface,  see [these docs for stand-alone mode]({{mkdocs.site_relative_url}}/tool-overview). See also the [full documentation for all `io.*` targets]({{mkdocs.site_relative_url}}/api/#api-io)

<script>
document.addEventListener('DOMContentLoaded', function() {setTimeout(function() {
	addImageToHeader('logging-facilities','/{{mkdocs.config.site_name}}/img/logging.svg')
}, 100);});
</script>
