{% import 'macros/base.j2' as macros -%}{% import 'macros/site.j2' as site -%}{% import 'macros/tufte.j2' as tufte -%}

## Matrioshka Automata
<hr class="section-rule lvl-2">

The [language overview page]({{_}}/cmk/paradigm) discusses how `compose.mk` is secretly a programming language, even though it's perfectly fine to think of it terms of [a library]({{_}}/standard-lib) or [a tool]({{_}}/tool-overview).  

More to the point though.. compose.mk is a matrioshka language, and maybe the first one that's *actually intended to be useful*.

<hr style="width:95%;border-bottom:1px dashed black;">
!!! terminology "Matrioshka Language"
    Matrioshka languages can be identified by their program forms, which will have multiple, distinct 'phases' with different syntactic and semantic rules. There are often two phases; the first gives a set of rules, and the second provides objects on which those rules are to be applied.[^1]

<hr style="width:95%;border-bottom:1px dashed black;">

For `compose.mk`, the "objects" are containers or container specs that might be inlined or external, and/or [foreign code]({{_}}/demos/polyglots#foreign-code-as-first-class).  The "rules" are tasks or task-groups.  First-class support for these as primitives turns out to be especially useful for things like [wrappers]({{_}}/tool-overview#tool-wrappers), [tool-factories]({{_}}/demos/custom-automation-apis/#bridging-ansible-targets), and even [app-factories]({{_}}/advanced-tuis) as seen in the rest of the site documentation.

This page is about identifying a through-line for the more concrete work elsewhere, for those who prefer overviews that focus less on applications and more on **theory, architecture, and patterns**. If you want to take in a few simple and concrete matrioshka demos before you continue reading, see instead [this index of demos]({{_}}/demos/matrioshka).

### Matrioshka Idiom Basics
<hr class="section-rule lvl-3">

Typically matrioshkas in `compose.mk` use a variation on the working definition from earlier, and they have the following structure:

!!! checklist "<strong>Matrioshka Structure</strong>"
	* **First phase:** declares a set of runtimes
	* **Second phase:** implement some tasks
	* **Third phase:** maps tasks and/or task-groups onto runtimes

A runtime might be an image tag, or a container definition that's inlined or external, etc.  A task might be a make-target, a group of targets, or a polyglot.  Sometimes the second phase is optional and we skip straight to phase 3. *(For an example of that, see the declarative style for [low-config TUIs]({{_}}/low-config-tuis) with no need for target bodies.)*

Using basic [container dispatch idioms]({{_}}/container-dispatch) with external files is *matrioshka-like*, and almost all of [the polyglot demos]({{_}}/demos/polyglots) are very simple matrioshkas that define (or just mention) a runtime & execute foreign code there. 

!!! related_links "See also"
    More involved matrioshkas usually have [inlined containers or data]({{_}}/demos/matrioshka), and they come in a few distinct categories that all have individual demos:

    * [Inlined Dockerfiles]({{_}}/demos/matrioshka#inlined-dockerfile)
    * [Extending inlined Dockerfiles]({{_}}/demos/matrioshka#extending-inlined-dockerfiles)
    * [Inlined compose files]({{_}}/demos/matrioshka#inlined-compose-files)
    * [Passing inlined data structures]({{_}}/demos/matrioshka#passing-inlined-data-structures)

### Has Science Gone Too Far?
<hr class="section-rule lvl-3">

Any place you can use embedded stuff with `compose.mk` is a special case, and nothing prevents you from using an external file.  But a determined individual can make a mess of anything so it's probably worth pointing out that there are reasons for matrioshka-dolling that aren't totally insane.

{{macros.img_link("mad-science.png", mkdocs, "90%",class=" ")}}

Here's a few arguments that suggest matrioshka-dolling has some legitimate use-cases:

* Since tool containers tend to be small and change infrequently, being self-contained reduces change-related friction that you usually get with external files, external repositories, and external registries.
* Sometimes having nested containers or data is just a way of keeping demos/prototypes tight and small, because being self-contained is the most legible or instructive.  
* Being self-contained is also at least *correlated* with other nice things like *stability and reproducibility*.
* Matrioshkas are actually a pretty good format for a bug reports / minimum reproducible examples.
* Matrioshkas are also a good format for test-cases of some distributed systems. {# [^3] #}

Whether we're talking about bug reports, test-cases, or tutorials.. matrioshka's can help make things "batteries included" in the sense that *they are actually executable*, rather than a series of instructions asking you manually copy/paste a bunch of stuff in different files to get a test-harness going.

The rest of this page develops more interesting arguments in terms of fancy stuff like *patterns, idioms, and metalanguages* but the simple justifications above are actually very practical.  Just don't be antisocial by embedding a gnarly and frequently-changing 300-line Dockerfile into your team's Makefile, and you'll be fine ;) 

See the [design philosophy docs]({{_}}/but-why) for a more detailed long-format dicussion of this type of thing.

### Matrioshka-Bridge Pattern
<hr class="section-rule lvl-3">

The previous section on [idiom basics](#matrioshka-idiom-basics) links several demos that focus on inlining or "embedding" containers and data.  A more interesting topic is the kind of bridge-building projects that you can see in [the ansible demo]({{_}}/demos/custom-automation-apis) and the [the justfile demo]({{_}}/demos/just).  

<hr style="width:95%;border-bottom:1px dashed black;">

{{macros.img_link("escher-birds.jpg", mkdocs, "90%",align="center", class=" ")}}

<hr style="width:95%;border-bottom:1px dashed black;">

Both of these demos are instances of a general pattern that goes like this:

1. **Describe a foreign toolchain.**  *(e.g. image tags, container definitions inlined or external, etc)*
1. **Drill a tiny hole through the matrioshka layers**, exposing or "lifting" something useful by abstracting away the fact that the task actually happens in a container.
1. **Better yet, lift something useful *that is parametric*** and then you have a *bridge*.
1. **Combine bridges at the level of `compose.mk`** to easily express ideas across systems.
1. **Compose bridges or groups of bridges**, using [`flux`]({{_}}/standard-lib/#workflow-support) for workflows, [`tux`]({{_}}/embedded-tui) for TUIs, etc.

**If you don't need to combine systems, you can actually stop after step 3,** and you have something like a "tool factory", where you can wrap the interface of something else and potentially change it. Summarizing the [ansible demo]({{_}}/demos/custom-automation-apis), we lifted ansible's whole [adhoc feature](https://docs.ansible.com/ansible/latest/command_guide/intro_adhoc.html) up out of the container, making it available to the host that doesn't have Ansible.  We also exposed and actually changed the default interface, insisting on JSON, providing aliased entrypoints for common use-cases, etc.  By using [compose.mk's support for packaging/compilation]({{_}}/demos/packaging) it's even more obvious that you can spin off this whole effort as a stand-alone tool, or several tools.  *This is an example of using the matrioshka-bridge pattern to create a tool factory*.

**By the time you get to step 4, the possibilities for composition are surprisingly powerful, expressive, and flexible**, in large part because the [homoiconicity]({{_}}/cmk/paradigm/#homoiconic) we discussed earlier starts to pay off.  Summarizing [the justfile demo]({{_}}/demos/just), embedding a justfile is incidental since we could easily work with an external one, but again the interesting part again is a bridge across layers.  We lift part of the `just` interface, then besides changing/exposing that interface, we actually wrapped it and compose our way to new functionality.  As a result.. we end up with an interactive task selector in just one line.

**Step 5 is where the real magic happens,** and the demos mentioned so far are just hints.  Demonstrating the potential for this seriously under realistic circumstances starts to want more tools and larger use-cases.. which is a challenge for brief examples.  See the [platforming demo for a sketch]({{_}}/demos/platform), or the [notebooking demo]({{_}}/demos/notebooking).

### Advanced Matrioshka Idioms 
<hr class="section-rule lvl-3">

In the previous sections, we've looked at demos, idioms and patterns at differently levels of complexity.  But some people might wonder.. is this really significantly different than say, heredocs[^2] or random docker sdk's in whatever language?

The answer is *yes!*, because besides better options for structuring code and attempting to treat containers as "first class" objects, `compose.mk` is also fluent about data and control flow *across layers*.

<hr style="width:95%;border-bottom:1px dashed black;">

{{macros.img_link("escher-stairs.jpg", mkdocs,"90%", class=" ")}}

<hr style="width:95%;border-bottom:1px dashed black;">

As one example, [stage stacks]({{_}}/stages) allow targets to represent operations on shared datastructures, and this is one one way to accomplish message-passing across matrioshka layers.

Since `compose.mk` tool-container invocations [default to volume-mounts for the working directory and the docker socket automatically]({{_}}/raw-docker/#tool-container-defaults), things like [structured io]({{_}}/standard-lib#structured-io) can work reliably anywhere.  One consequence of this is a kind of "late binding" style, where basically you don't necessarily have to think much about whether tasks run on the host, or run on containers.

### See Also
<hr class="section-rule lvl-3">

!!! road_map "Where to go next"
	See the demos for [Embedded Containers & Data]({{_}}/demos/matrioshka/) and the collection of [Polyglot Demos]({{_}}/demos/matrioshka), which are all matrioshkas to some extent.

	For an extreme example of "fluency" across matrioshka layers, check out the [makeception demo]({{_}}/demos/makeception), where we use `compose.mk` to embed 2 container definitions and to build and steer them.  The build process itself is encapsulated inside the same file: rather than monolithic top-to-bottom bash in the Dockerfile, provisioning tasks can be expressed as normal targets which are executed as usual, may call other targets, etc.

	For an advanced example in service of a more conventional use-case, you might want to take a look at the [Notebooking Demo]({{_}}/demos/notebooking), which uses 3 different containers (a formal-methods toolkit) to augment the behaviour of a 4th container (a jupyter lab server).

### References
<hr class="section-rule lvl-3">

[^1]: via the [esolangs wiki](https://esolangs.org/wiki/Matrioshka_language)
[^2]: {{ tufte.wiki('Here_document')|trim }}

<script>
document.addEventListener('DOMContentLoaded', function() {setTimeout(function() {
	addImageToHeader('matrioshka-automata','/{{mkdocs.config.site_name}}/img/mat.png',style="height:2.2em;")
	{{macros.prompt_badges(['matrioshka-automata'])}}
	{{macros.header_images([
		['advanced-matrioshka-idioms','advanced.svg'],
		['see-also','link'], ['matrioshka-bridge-pattern','bridge'],
		['has-science-gone-too-far','flask'],
		['matrioshka-idiom-basics','basics'],
		['references','list-details'],
	], mkdocs)}}
}, 100);});
</script>