
{% import 'macros/base.j2' as macros -%}{% import 'macros/site.j2' as site -%}
{% include "badges.md.j2" %} 

Main documentation: [{{mkdocs.config.site_url}}]({{mkdocs.config.site_url}})

------------------------------

**Meet compose.mk, a tool / library / framework for Makefile-based automation, scripting, and lightweight orchestration.**  Support for docker, docker-compose, workflow primitives, TUI elements, and more, all provided by a single file with no dependencies beyond what's already in your development environment.

Typical use-cases include **general project automation**, especially decoupling your CI/CD from different kinds of platform lock-in.  Other superpowers include the ability to **quickly incorporate foreign tools and foreign code** as first-class objects, which provides unique and powerful capabilities for quickly assembling console applications, systems prototyping, and component-oriented design experiments in general.  Definitely <a href={{mkdocs.config.site_url}}/overview/#not-the-makefiles-of-your-ancestors><u><strong>not</strong></u> the Makefiles of your ancestors.

------------------------------

<img alt=demo src={{mkdocs.config.site_url}}/img/docker.commander.gif>

------------------------------
