{% import 'macros/base.j2' as macros -%}{% import 'macros/site.j2' as site -%}

## Selectors
<hr style="width:100%;border-bottom:3px solid black;">

Interactive selectors based on [gum's chooser](https://github.com/charmbracelet/gum?tab=readme-ov-file#choose) are something of a primitive for `compose.mk`.  This page covers these main use-cases for stand-alone mode:

* [Interactive target-selection from Makefiles](#interactive-target-selection) 
* [Interactive container-selection from compose files](#interactive-container-selection).

For lower-level programmatic usage see instead the [user-input section of the standard-lib docs]({{mkdocs.site_relative_url}}/standard-lib/#user-input-interactivity).  For higher-level usage like apps with layered dialogs, see the examples in the [advanced TUI docs]({{mkdocs.site_relative_url}}/advanced-tuis/).

### Interactive Target-Selection
<hr style="width:100%;border-bottom:3px solid black;">

Given any random Makefile, `compose.mk` can wrap it with runner that offers target-selection using the {{site.api_link("mk.select", mkdocs, arg='path_to_makefile')}} target.

For testing in situations like this, there is a lightweight Makefile included in the repository, aka {{macros.repo_link('demos/no-includes.mk', github=github)}}. Like the name suggests, it doesn't actually include or use `compose.mk` in any way.  You can launch this target-selector once, or use {{site.api_link('flux.loopf', mkdocs, arg='target_name')}} for a simple looping runner.

```bash {.cli_example}
# Select target and run once
$ ./compose.mk mk.select/demos/no-include.mk

# Looping runner
$ ./compose.mk flux.loopf/mk.select/demos/no-include.mk
```
{{macros.img_link("user-input.gif", mkdocs, "95%",class="cli_output")}}

### Interactive Container-Selection
<hr style="width:100%;border-bottom:3px solid black;">

Given any random docker compose file, `compose.mk` can wrap it with runner that offers container-selection, using {{site.api_link('compose.select',mkdocs,arg='path_to_compose_file')}}.  

For testing in situations like this the repo ships with a sample compose file, aka {{macros.repo_link('demos/data/docker-compose.minimal.yml',github=github)}}, so we'll use that here.

```bash {.cli_example}
$ ./compose.mk compose.select/demos/data/docker-compose.minimal.yml
```

After selecting a service, you'll be dropped into an interactive shell for that container.  

This should work for most containers regardless of their default entrypoint, and `compose.mk` can help to autodetect whether using `bash` or `sh` is appropriate.  If there's no shell at all available in the container though, you're out of luck!

As with the `mk.select` example above, we can use {{site.api_link('flux.loopf',mkdocs,arg='target_name')}} to easily turn this into a a simple looping interface:

```bash {.cli_example}
$ ./compose.mk \
    flux.loopf/compose.select/demos/data/docker-compose.minimal.yml
```

<hr style="width:100%;border-bottom:3px solid black;">


<script>
document.addEventListener('DOMContentLoaded', function() {setTimeout(function() {
	{{macros.header_images([
        ['selectors','user'],
    ], mkdocs)}}
    addImageToHeader('interactive-target-selection','/{{mkdocs.config.site_name}}/img/makefile.png', style="height:2.2em;")
	addImageToHeader('interactive-container-selection','/{{mkdocs.config.site_name}}/img/compose.png', style="margin-top:-10px;height:2.2em;")
}, 100);});
</script>