{% import 'macros/base.j2' as macros -%}{% import 'macros/site.j2' as site -%}

### Temporary Files
<hr style="width:100%;border-bottom:3px solid black;">

Temporary files ..

#### mktemp
<hr style="width:95%;border-bottom:1px dashed black;">

{# Keyword-args for use with targets are easy to get with a combination of stdin, stdout, jq, jb, as [we've seen previously](#structured-io-basics).   #}

Pairing that with `bind.args.from_json`, you can unpack the input automatically, making it available to the rest of the target-body.

{{site.embed_demo('demos/mktemp.mk', 
    bottom_right='',
    github=github)}}

{# Above, basically `bind.args.from_json` takes a **bind specification**, and uses it to import a subset of JSON key/vals as shell variables.  The bind-specification just describes that subset, optionally providing defaults when keys are missing.  Anything without a default is considered "required".  You can think of this idiom as a decorator, and [in CMK-lang it actually looks like one.]({{mkdocs.site_relative_url}}/compiler/#bind-declarations).

```bash {.cli_example}
$ ./demos/kwarg-parsing.mk
```
```bash {.cli_output}
shape=triangle color=red name=default
```

**Note that this sets shell variables,** not make-variables, so names must be referenced with `$${double_dollars}`.

**The fine print:** Usage assumes simple keyword-style dictionaries, and this isn't really designed to handle quoted stuff, multilines, etc.  If names already exist in the environment, this overwrites the values!  This also isn't optimized for speed of execution, but it's easy to read/write and eliminates lots of boilerplate.

#### Bind from Environment
<hr style="width:95%;border-bottom:1px dashed black;">

Using `bind.args.from_env`, you can set/load defaults without anticipating an input pipe at all.  
{{site.embed_demo('demos/kwarg-parsing-2.mk', 
    bottom_right=site.link_mirror(
        "demos/cmk/kwarg-parsing-2.cmk",
        link=mkdocs.site_relative_url+"/compiler/#bind-declarations"),
    github=github)}}

```bash {.cli_example}
$ ./demos/kwarg-parsing-2.mk
```
```bash {.cli_output}
shape=circle color=blue
```

**Note that this sets shell variables,** not make-variables, so names must be referenced with `$${double_dollars}`.  Note also that this is a useful way to set defaults *regardless* of whether you expected the data to be available in the environment.

**The fine print:** The same caveats exist here as with [bind.args.from_json](#bind-from-json) in terms of shadowing existing variables, so you should pay attention to scope, and probably want to pipeline your entire target-body using `.. && .. `. #}
