{% import 'macros/base.j2' as macros -%}{% import 'macros/site.j2' as site -%}
<meta http-equiv="refresh" content="0; url={{_}}/plugins/tux.repl/" />
<link rel="canonical" href="{{_}}/plugins/tux.repl/" />

## BubbleTea REPL
<hr class="section-rule lvl-2">

The **BubbleTea REPL** (`tux.repl`) is documented alongside the other plugins.  This TUI-menu entry just forwards there; you should be redirected automatically.  If not, follow the link:

* [BubbleTea REPL (`tux.repl`)]({{_}}/plugins/tux.repl)
