# See also: https://docs.github.com/en/actions
name: Project Demos
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch: {}
  workflow_call: {}
  push:
    branches: [ "main" ]
    paths-ignore: ['**.gif', '**.md', '**.md.j2', '**.mmd', '**.png', '**.svg', '.cmk']
  pull_request:
    branches: [ "main" ]
    paths-ignore: ['**.gif', '**.md', '**.md.j2', '**.mmd', '**.png', '**.svg', '.cmk']
permissions:
  contents: read
jobs:
  test:
    name: Demos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Initialize
        run: make clean init
      - name: Run Demos
        run: make actions.demos
        # GitHub Actions runs without a TTY device. This is a workaround to get one,
        # based on https://github.com/actions/runner/issues/241#issuecomment-842566950.
        # This is required for some of the integration tests that are using gum
        # shell: 'script -q -e -c "bash --noprofile --norc -eo pipefail {0}"'